.u-header{
  display: flex;
  justify-content: space-between;
  &__left{
    padding-left: 10px;
    i{
      font-size: 25px;
      line-height: 60px;
      font-weight: 400;
      cursor: pointer;
    }
    .u-rotate-180{
      transform: rotate(180deg);
    }
  }
  &__right{

  }
}

