// 限制行数
@mixin line-limit($line:1){
    @if $line == 1{
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
    }@else{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: $line;
        overflow: hidden;
    }
}

// 滚动条
@mixin scroll-bar {
    &::-webkit-scrollbar-track-piece {
        background-color: transparent;
    }

    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 3px;
        background-color: var(--theme-color);
    }
}

// 指针
@mixin cursor {
    cursor: url('./assets/cursor/cursor.png'), auto !important;
}

@mixin cursor-link {
    cursor: url('./assets/cursor/cursor_link.png'), auto !important;
}

